.pokemon-list
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-evenly


.pokemon-search
    width: 50%
    background: #453f40
    border-radius: 10px
    height: 35px
    border: none
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 5%