<div 
    *ngIf="simpleSearch" 
    class="PokemonCard"
>
    <img [src]="getImagePokemon()">
    <br> {{pokemon}}
    <br> DexID: {{numberOfDex}}
</div>

<div 
    *ngIf="!simpleSearch" 
    class="PokemonCardImage"
>
    <div class="PokemonImage">
        <img [src]="getImagePokemon()">
        <br> {{pokemon}}
        <br> DexID: {{numberOfDex}}
    </div>
</div>

<div *ngIf="!simpleSearch" class="PokemonCardDetails" >
    <h2>Habilidades</h2>
    <div *ngFor="let abilitie of abilities">
         * {{abilitie.ability.name}}
    </div>
</div>




