<div 
    *ngIf="simpleSearch" 
    class="PokemonCard"
>
    <img [src]="getImagePokemon()">
    <br> {{pokemon}}
    <br> DexID: {{numberOfDex}}
</div>

<div 
    *ngIf="!simpleSearch" 
    class="PokemonCardImage"
>
    <div class="PokemonImage">
        <img [src]="getImagePokemon()">
        <br> {{pokemon}}
        <br> DexID: {{numberOfDex}}
    </div>
</div>

<div *ngIf="!simpleSearch" class="PokemonCardDetails" >
    <span class="spanFontSize"> &#11088; Habilidades:</span>
    <br><br>

    <div *ngFor="let abilitie of abilities">
         * {{abilitie.ability.name}}
    </div>

    <div class="spaceDescriptionBT">
        <span class="spanFontSize"> &#11088; Experiência Base:</span>
        {{baseExperience}}
    </div>

    <div >
        <span class="spanFontSize"> &#11088; Peso:</span>
        {{height}}Kg
    </div>
</div>

<div *ngIf="!simpleSearch" class="statusCards" >
    <div>
        <span class="spanStatus">Status</span>
    </div>
    <h3 class="statsCards" *ngFor="let stat of stats, index as i">
        {{stat.stat.name}} : {{stat.base_stat}}
    </h3>
</div>

<div *ngIf="!simpleSearch" class="PokemonCardMoves" >
    <div>
        <span class="spanMoves">Movimentos</span>
    </div>
    <h3 class="moveCards" *ngFor="let move of moves, index as i">
            {{move.move.name}}
    </h3>
</div>








