.PokemonCard
    background: #453f40
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #53363b
    margin: 15px

.PokemonCard:hover
    background: #453f40
    padding: 15px
    border-radius: 9px
    box-shadow: 0 0 10px 5px #2f68b3
    margin: 15px

.PokemonCardImage
    background: #453f40
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #53363b
    margin: 15px
    width: 20%
    height: 20%
    display: inline-block

.PokemonCardDetails
    background: #2e2b2ba8
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #3a3a3a
    margin: 15px
    width: 25%
    height: 25%
    display: inline-block

.PokemonImage
    width: 30%
    height: 30%

.PokemonDetails
    width: 40%
    height: 40%
    display: inline-block
    padding-bottom: 50%

.spaceDescriptionBottom
    margin-bottom: 5%

.spaceDescriptionBT
    margin-bottom: 5%
    margin-top: 5%

.spanFontSize
    font-size: 17px
    color: rgb(190 190 191)

.PokemonCardMoves
    background: #2e2b2ba8
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #3a3a3a
    margin: 15px
    width: 40%
    height: 40%
    display: inline-block

.moveCards
    background: rgb(255 203 5)
    margin: 5px 5px 5px 5px
    margin-bottom: 5px
    margin-top: 5px
    color: #403c3c
    padding-top: 4px
    border-radius: 16px
    padding-right: 10px
    padding-left: 10px
    display: inline-block
    padding-bottom: 2px

.statsCards
    background: rgb(255 203 5)
    margin: 5px 5px 5px 5px
    margin-bottom: 5px
    margin-top: 5px
    color: #403c3c
    padding-top: 4px
    border-radius: 16px
    padding-right: 10px
    padding-left: 10px
    padding-bottom: 2px
    text-align: center

.moveCards:hover
    background: rgb(43 115 185)
    transition: 0.3s
    cursor: pointer
    margin: 5px 5px 5px 5px
    margin-bottom: 5px
    margin-top: 5px
    color: white
    padding-top: 4px
    border-radius: 16px
    padding-right: 10px
    padding-left: 10px
    display: inline-block
    padding-bottom: 2px

.spanStatus
    color: rgb(190 190 191)
    font-size: 18px
    display: flex
    justify-content: center

.spanMoves
    color: rgb(190 190 191)
    font-size: 18px
    display: flex
    margin-bottom: 15px
    justify-content: center

.statusCards
    display: inline-block
    background: #2e2b2ba8
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #3a3a3a
    margin: 15px
    width: 25%
    height: 25%
    