.PokemonCard
    background: #453f40
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #53363b
    margin: 15px

.PokemonCard:hover
    background: #453f40
    padding: 15px
    border-radius: 9px
    box-shadow: 0 0 10px 5px #2f68b3
    margin: 15px

.PokemonCardImage
    background: #453f40
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #53363b
    margin: 15px
    width: 20%
    height: 20%
    display: inline-block

.PokemonCardDetails
    background: #453f40
    padding: 15px
    border-radius: 10px
    box-shadow: 0 0 9px 0px #53363b
    margin: 15px
    width: 25%
    height: 25%
    display: inline-block

.PokemonImage
    width: 30%
    height: 30%

.PokemonDetails
    width: 40%
    height: 40%
    display: inline-block
    padding-bottom: 50%

